html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body {
  margin: 0px 0px 0px 0px;
  font-family: sans-serif;
  font-size: 13px;
  color: #444;
  background-color: #f7f7f7;
}

div#container {
  margin: 0px 0px 0px 0px;
  background-color: #f7f7f7;
}

div#header {
  position: fixed;
  background-color: #f7f7f7;
  left: 0px;
  top: 0px;
  padding: 15px 20px 20px 20px;
  z-index: 1;
  /*border-bottom: 1px solid #c6c6c6;*/
}

div#toolbar {
  width: 165px;
  float: left;
  position: fixed;
  margin: 79px 20px 20px 20px;
  overflow: hidden;
}

div#toolbar:hover {
  overflow: scroll;
}

div#content {
  float:right;
  margin: 79px 20px 20px 20px;
  background-color: #fff;
}


div#logo {
  float: left;
  border: 1px solid #999999;
  background-color: #dadada;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  width: 143px;
  margin-right: 20px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

div#bulkbuttons {
  margin-top: 14px;
  float: left;
}

div#search {
  margin-top: 14px;
  float: left;
}

div#useremail {
  float: right;
}

a {
  color: #000066;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000066;
}


table.items {
  margin: 0px 0px 0px 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}

table.items tr.row1:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

table.items tr.row2 {
  border-bottom: 1px solid #eaeaea;
}

table.itemsheader tr#filter {
  border-bottom: 1px solid #999999;
}

tr.rowover {
  background-color: #fafafa;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

tr#filter td {
  padding: 3px 10px 3px 10px;
}

table.items th {
  color: #20201e;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
  background-color: #eeeeee;
}

table.items th a {
  color: #20201e;
  font-weight: bold;
}

table.items tr.row1 > td {
  padding: 0px 10px 0px 10px;
  height: 40px;
  white-space: nowrap;
}

table.items tr.row2 > td {
  padding: 0px 20px 0px 20px;
}

div.titlewrap {
  min-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

div.titlewrap > div.labelwrap {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 11px;
}
div.titlewrap > div.labelwrap > div.label {
  float: right;
  color: #009900;
  background-color: #aaeeaa;
  border: 1px solid #99aa99;
  font-size: 8px;
  border-radius: 3px;
  margin-left: 2px;
  padding: 1px 2px;
}

table.items td.eimo {
  color: white;
  background-color: blue;
}

/*
input {
  border: 1px solid #999999;
  font-size: 14px;
  padding: 2px;
}
input, select {
  border: 1px solid #999999;
  font-size: 14px;
  padding: 2px;
}
*/

/*
table.items a {
  text-decoration: none;
  color: #0000ff;
}
*/

/*
table.items a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #0000ff;
}
*/

table.detail {
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 0px;
}

table.detail td {
  padding: 5px;
}

table.detail td:first-child {
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: top;
  color: #999;
  line-height: 27px;
}



div.success {
  border: 2px solid #009900;
  background-color: #eeffee;
  padding: 5px;
  margin: 2px;
}

div.notice {
  border: 2px solid #ff0000;
  background-color: #ffeeee;
  padding: 5px;
  margin: 2px;
}

.loading {
  background-image: url(/img/indicator.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

div#loading {
  position: fixed;
  top: 0px;
  margin: 0px auto 0px auto;
  text-align: center;
  background-color: #ffffcc;
  padding: 2px;
  display: none;
}

div#paging {
  margin: 5px;
  height: 20px;
  padding: 5px;
  text-align: center;
  float: right;
}

div#paging a {
  text-decoration: none;
  border: 1px solid #999999;
  margin: 2px;
  padding: 0.1em 0.4em;
}

tbody#rowtemplate {
  display: none;
}

div.detail {
  display: none;
  margin: 0px 0px 10px 0px;
}

div#editform {
  display: none;
}

iframe.description {
  width: 750px;
  height: 300px;
  border: 1px dotted #999999;
}

div.description {
  margin: 5px;
}

div.description > iframe {
  border: 0px none;
}

div.pictures {
  margin: 5px;
}

img.PictureDetails_PictureURL {
  max-width:  300px;
  max-height: 300px;
}

ul.accounts {
  margin: 0px;
  margin-bottom: 0px;
  padding: 0px;
  list-style-type: none;
}

ul.accounts > li:nth-child(odd) {
  font-weight: bold;
  color: #444;
}

ul.accounts > li:nth-child(odd),
ul.accountaction > li {
  margin: 0px;
  padding: 1px 8px;
  line-height: 27px;
  font-size: 11px;
  color: #666;
  text-shadow: #eee 0px 1px 0px;
}

ul.accountaction li img {
  margin-right: 5px;
}

ul.accounts > li:nth-child(odd):hover,
ul.accountaction > li:hover {
  cursor: pointer;
  background-color: rgba(208, 208, 208, .85);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

ul.accounts > li.allitems {
  margin: 0px;
  padding: 2px 0px 2px 5px;
}

a.accountaction {
}

ul.accountaction {
  display: none;
  /* position: absolute; */
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

.tabselected {
  background-color: #cccccc;
  /*
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  */
}

td.price {
  text-align: right;
}

td.EndTime {
  text-align: right;
  white-space: nowrap;
}

span.more {
  font-size: 9px;
}



div.editbutons {
  float: left;
  margin: 0px 0px 0px 7px;
  padding: 0px;
}

/* item detail tab navigation */
ul.tabNav {
  float: left;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

ul.tabNav li:last-child {
  margin-right: 7px;
}

ul.tabNav li {
  float: left;
  margin-right: 0px;
  /*background: #fafafa;*/
  line-height: 34px;
  padding: 0px 7px;
  /*border: 1px solid #eeeeee;*/
  color: #666;
  text-shadow: #eee 0px 1px 0px;
  /*
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  */
}

ul.tabNav li:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}

ul.tabNav li.current {
  background-color: #f4f4f4;
}

div.tabContainer {
  clear: both;
  /*float: left;*/
  margin-bottom: 20px;
  padding: 5px;
  background-color: #f4f4f4;
  /*
  border-radius:5px;
  */
}

div.tabContainer div.tab {
  display: none;
}

div.tabContainer div.current {
  display: block;
}

img.PictureDetails_PictureURL {
  max-width: 100px;
  max-height: 100px;
}

div.picdiv {
  width: 100px;
  height: 100px;
  border: 1px dotted #999999;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.error {
  background: url('/icon/01/10/50.png') no-repeat left center;
  color: red;
  font-size: 8pt;
  padding-left: 15px;
  font-weight: bold;
}

span.active {
  color: green;
}

div.ShippingPackage {
  float: left;
}

div.Dimensions {
  float: left;
}

/* styles for debug */
div#hiddenblocks {
  margin: 10px 10px 0 0;
  background-color: #ffffdd;
  border: 1px solid #999966;
  border-radius:5px;
}

div#debug {
  display: none;
  margin: 10px;
  padding: 10px;
  background-color: #ffffcc;
}

iframe[name=posttarget] {
  width: 161px;
  height:200px;
  margin: 10px 10px 0 0;
  background-color: #ffffdd;
  border: 1px solid #999966;
  border-radius:5px;
}

div#debugseparator {
  margin: 10px 0px;
  border-bottom: 1px solid #c6c6c6;
}

/*
table#hiddenforms td:first-child {
  text-align: right;
  font-weight: bold;
}
table#hiddenforms input {
  border: 0px none;
  padding: 0px;
}
*/

input.aslabel {
  border: 0px none;
  font-weight: bold;
  text-align: right;
}

table.checkboxes td,
table.checkboxes td:first-child {
  padding: 0px 5px 0px 0px;
  text-align: left;
  font-weight: normal;
}

div.foundproducts {
  max-height: 500px;
  overflow: scroll;
  position: absolute;
  display: none;
  background-color: #fff;
  border: 2px solid #666666;
}

div.product {
  border-bottom: 1px solid gray;
  padding: 5px;
}

div.product:hover {
  cursor: pointer;
  background-color: #ffffcc;
}

div.producttemplate {
  display: none;
}

div.product div.productimage {
  float: left;
  width: 70px;
  text-align: center;
}

div.product div.text {
  float: left;
}

div.product div.productid {
  display: none;
}

div.ProductSellingPages td,
div.ProductSellingPages td:first-child {
  padding: 0px;
  text-align: left;
  font-weight: normal;
}

input {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 11px;
  line-height: 11px;
  font-size: 11px;
  font-weight: bold;
  padding: 8px;
  border: 1px solid #999;
  font-family: arial, sans-serif;
  color: #444;
}

div#toolbar input,
div#toolbar select {
  padding: 0px;
  border: 0px none;
  line-height: 13px;
}

button, submit {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 27px;
  line-height: 27px;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 8px;
  border: 1px solid #999;
  font-family: arial, sans-serif;
  color: #444;
  margin: 0px;
}

button.btnleft {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
}

button.btncenter {
  border-left: 0px none;
  border-radius: 0px;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

button.btnright {
  border-left: 0px none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  margin-right: 15px;
}

select {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 29px;
  line-height: 27px;
  font-size: 11px;
  font-weight: bold;
  padding: 0 8px;
  border: 1px solid #999;
  font-family: arial, sans-serif;
  color: #444;
}

button:hover,
select:hover {
  cursor: pointer;
}

