body {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  color: #444;
  background-color: #f7f7f7;
  overflow: hidden;
}

#container {
  margin: 0;
  background-color: #f7f7f7;
}

#leftpane {
  float: left;
  margin: 15px 15px 0 20px;
}

#rightpane {
  float: left;
}

#container-white {
  margin: 0px 0px 0px 0px;
  background-color: #ffffff;
}

#header {
  background-color: #f7f7f7;
  margin: 15px 20px 0 0;
}

#toolbar {
  width: 165px;
  margin: 15px 0 0;
  overflow: hidden;
}

#toolbar:hover {
  overflow: auto;
}

#toolbar button {
  width: 165px;
}

#content {
  margin: 15px 0 0;
  background-color: #fff;
  overflow-y: scroll;
}

#content960 {
  width: 960px;
  margin: 80px auto 20px auto;
  background-color: #fff;
}

button.newitem {
  margin: 15px 0 0;
	width: 165px;
}

#feed {
  margin: 20px;
}

#feed li {
  margin-bottom: 10px;
}

#screenshot {
  width: 490px;
  border: 1px solid #aaaaaa;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 0 0 0;
  margin: 10px 0 0 0;
}

#logo {
  border: 1px solid #cccccc;
  background-color: #fafafa;
  text-align: center;
  padding: 0;
  width: 163px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

#logo a {
  display: block;
	margin: 0;
	padding: 0;
}

#logo img {
  border: 0px none;
	margin: 0;
	padding: 0;
}

#headderrightbuttons {
  float: right;
  text-align: right;
  margin-top: 5px;
}

#bulkbuttons {
  float: left;
  margin: 15px 0 0;
}

#bulkbuttons button,
#bulkbuttons input,
div.editbuttons button {
  float: left;
}

#search {
  float: left;
}

#headerupper {
}
#headerupper_right {
  float: right;
  text-align: right;
	font-size: 90%;
}

#message {
  position: fixed;
  text-align: center;
  font-weight: bold;
  color: #015c65;
	/*background-color: #ff9;*/
}

a {
  color: #000066;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #000066;
}


table.items {
  margin: 0px 0px 0px 0px;
  border-spacing: 0px;
  border-collapse: collapse;
  
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  width: 100%;
}

table.items tr.row1:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

table.items tr.row2 {
  border-bottom: 1px solid #dddddd;
}

tbody#rowloading {
  border-bottom: 1px solid #dddddd;
}

table.itemsheader tr#filter {
  border-bottom: 1px solid #999999;
}

tr.rowover {
  background-color: #fafafa;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

tr#filter td {
  padding: 3px 10px 3px 10px;
}

/*
table.items th {
  color: #20201e;
  font-size: 13px;
  padding: 3px 10px 3px 10px;
  background-color: #eeeeee;
}

table.items th a {
  color: #20201e;
  font-weight: bold;
}
*/

#items thead td {
  padding: 1px 5px;
  border-bottom: 1px solid #ddd;
	font-weight: bold;
	color: #666;
	background-color: #ddd;
}

table.items tr.row1 > td {
  /*white-space: nowrap;*/
  padding: 1px 5px;
}

table.items tr.row1 img.PictureURL {
  max-height: 40px;
  max-width: 40px;
  margin: 0px;
  padding: 0px;
}

table.items tr.row1 td.PictureURL {
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: middle;
}

table.items tr.row1 td.PictureURL div {
  width: 40px;
  height: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}

table.items tr.row2 > td {
  padding: 0px 20px 0px 20px;
}

td.Title {
  /*min-width: 300px;*/
  /*max-width: 400px;*/
  overflow: hidden;
  /*white-space: nowrap;*/
	word-break: break-all;
}

div.labelwrap {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 11px;
}
div.labelwrap div.label {
  float: right;
  color: #009900;
  background-color: #aaeeaa;
  border: 1px solid #99aa99;
  font-size: 8px;
  border-radius: 3px;
  margin-left: 2px;
  padding: 1px 2px;
}

div.normallabel {
  float: right;
  color: #990;
  background-color: #ffc;
  border: 1px solid #aa6;
  font-size: 9px;
  border-radius: 3px;
  margin-left: 2px;
  padding: 2px 3px;
}

div.soldlabel {
  float: right;
  color: #090;
  background-color: #cfc;
  border: 1px solid #6a6;
  font-size: 9px;
  border-radius: 3px;
  margin-left: 2px;
  padding: 2px 3px;
}

div.questionlabel {
  float: right;
  color: #900;
  background-color: #fcc;
  border: 1px solid #a66;
  font-size: 9px;
  border-radius: 3px;
  margin-left: 2px;
  padding: 2px 3px;
}


table.items td.eimo {
  color: white;
  background-color: blue;
}

/*
input {
  border: 1px solid #999999;
  font-size: 14px;
  padding: 2px;
}
input, select {
  border: 1px solid #999999;
  font-size: 14px;
  padding: 2px;
}
*/

/*
table.items a {
  text-decoration: none;
  color: #0000ff;
}
*/

/*
table.items a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #0000ff;
}
*/

table.detail,
table.ItemSpecifics {
  border-spacing: 0px;
  border-collapse: collapse;
  margin: 0px;
}

table.detail td {
  padding: 2px;
}

table.detail th {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: top;
  color: #666;
  padding: 7px;
}



div.success {
  border: 2px solid #009900;
  background-color: #eeffee;
  padding: 5px;
  margin: 2px;
}

div.notice {
  border: 2px solid #ff0000;
  background-color: #ffeeee;
  padding: 5px;
  margin: 2px;
}

.loading {
  background-image: url(/img/indicator.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

#loading {
  position: fixed;
  top: 0px;
  margin: 0px auto 0px auto;
  text-align: center;
  background-color: #ffffcc;
  padding: 2px;
  display: none;
}

#paging {
  margin: 5px;
  height: 20px;
  padding: 5px;
  text-align: center;
  float: right;
}

#paging a {
  text-decoration: none;
  border: 1px solid #999999;
  margin: 2px;
  padding: 0.1em 0.4em;
}

tbody#rowtemplate {
  display: none;
}

div.detail {
  display: none;
  margin: 10px 0px 10px 0px;
}

#editform {
  display: none;
}

iframe.description {
  width: 100%;
  background-color: #fff;
}

div.description {
  margin: 5px;
}

div.description > iframe {
  border: 0px none;
}

div.pictures {
  margin: 5px;
}

img.PictureDetails_PictureURL {
  max-width:  300px;
  max-height: 300px;
}

ul.accounts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.accounts > li:nth-child(odd) {
  font-weight: bold;
  color: #444;
}

ul.accounts > li:nth-child(odd),
ul.accountaction > li {
  margin: 0px;
  padding: 1px 8px;
  line-height: 27px;
  font-size: 11px;
  color: #666;
  text-shadow: #eee 0px 1px 0px;
}

ul.accountaction li img {
  margin-right: 5px;
}

ul.accounts > li:nth-child(odd):hover,
ul.accountaction > li:hover {
  cursor: pointer;
  background-color: rgba(208, 208, 208, .85);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

ul.accounts > li.allitems {
  margin: 0px;
  padding: 2px 0px 2px 5px;
}

a.accountaction {
}

ul.accountaction {
  display: none;
  /* position: absolute; */
  list-style-type: none;
  padding: 0px 0px 0px 0px;
}

#euidstatuses_allitems ul.accountaction {
  display: block;
}

.tabselected {
  background-color: #cccccc;
  /*
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  */
}

td.price,
td.WatchCount,
td.HitCount,
td.BidCount {
  text-align: right;
}

td.EndTime {
  text-align: right;
  white-space: nowrap;
}

span.more {
  font-size: 9px;
}



div.editbutons {
  float: left;
  margin: 0px 0px 0px 7px;
  padding: 0px;
}

/* item detail tab navigation */
ul.tabNav {
  float: left;
  list-style: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

ul.tabNav li:last-child {
  margin-right: 15px;
}

ul.tabNav li {
  float: left;
  margin-right: 0px;
  /*background: #fafafa;*/
  line-height: 34px;
  padding: 0px 7px;
  /*border: 1px solid #eeeeee;*/
  color: #666;
  /*text-shadow: #eee 0px 1px 0px;*/
  /*
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  */
}

ul.tabNav li:hover {
  cursor: pointer;
  background-color: #f4f5f7;
}

ul.tabNav li.current {
  background-color: #666;
  color: #fff;
}

div.tabContainer {
  clear: both;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #666666;
}

div.tabContainer div.tab {
  display: none;
}

div.tab {
  margin-bottom: 20px;
}

div.tabContainer div.current {
  display: block;
}

img.PictureDetails_PictureURL {
  max-width: 100px;
  max-height: 100px;
}

div.picdiv {
  width: 100px;
  height: 100px;
  border: 1px dotted #999999;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.error {
  background: url('/icon/01/10/50.png') no-repeat left center;
  color: red;
  font-size: 8pt;
  padding-left: 15px;
}
span.warning {
  background: url('/icon/01/10/50.png') no-repeat left center;
  color: #aaa;
  font-size: 8pt;
  padding-left: 15px;
}
span.status {
  color: orange;
  font-size: 8pt;
  font-weight: bold;
}

span.active {
  color: green;
}

div.ShippingPackage {
  float: left;
}

div.Dimensions {
  float: left;
}

/* styles for debug */
#hiddenblocks {
  margin: 10px 10px 0 0;
  background-color: #ffffdd;
  border: 1px solid #999966;
  border-radius:5px;
}

#debug {
  display: none;
  margin: 10px;
  padding: 10px;
  background-color: #ffffcc;
}

iframe[name=posttarget] {
  display: none;
}

input.aslabel {
  border: 0px none;
}

table.checkboxes td,
table.checkboxes td:first-child {
  padding: 0px 5px 0px 0px;
  text-align: left;
  font-weight: normal;
}

div.foundproducts {
  max-height: 500px;
  overflow: scroll;
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #666666;
}

div.product {
  border-bottom: 1px solid gray;
  padding: 5px;
}

div.product:hover {
  cursor: pointer;
  background-color: #ffffcc;
}

div.producttemplate {
  display: none;
}

div.product div.productimage {
  float: left;
  width: 70px;
  text-align: center;
}

div.product div.text {
  float: left;
}

div.product div.productid {
  display: none;
}

div.ProductSellingPages td,
div.ProductSellingPages td:first-child {
  padding: 0px;
  text-align: left;
  font-weight: normal;
}

input {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px 3px;
  border: 1px solid #999;
  font-family: arial, sans-serif;
  color: #444;
  height: 21px;
}




button,
submit,
input[type=submit] {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 29px;
  min-width: 54px;
  line-height: 29px;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 8px;
  border: 1px solid #999;
  font-family: arial, sans-serif;
  color: #444;
  margin: 0px;
}

button.btnleft {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
}

button.btncenter {
  border-left: 0px none;
  border-radius: 0px;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

button.btnright {
  border-left: 0px none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  margin-right: 15px;
}

input[name="ProductSearch.QueryKeywords"] {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
  float: left;
}

button.GetProductSearchResults {
  border-left: 0px none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 0px;
  float: left;
}

select {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px 1px;
  border: 1px solid #999;
  font-family: arial, sans-serif;
  color: #444;
  height: 29px;
	margin: 2px;
}

button:hover,
select:hover {
  cursor: pointer;
}

#filtertitle {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
	float: left;
	width: 300px;
}

#signinbox,
#signupbox {
  background-color: whiteSmoke;
  border: 1px solid #e5e5e5;
  margin: 20px;
  padding: 20px;
}

#twitter {
  margin-left: 20px;
  margin-right: 20px;
}

#help {
  display: none;
  padding: 20px;
  border: 1px solid #eaeaea;
}

#settings {
  display: none;
  padding: 20px;
  border: 1px solid #eaeaea;
}

#ebayaccountsetting {
  display: none;
  padding: 20px;
  border: 1px solid #eaeaea;
}

div.ShippingService0,
div.ShippingService1,
div.ShippingService2,
div.ShippingService3,
div.ShippingService4 {
  clear: both;
}

tbody.shippingmainrows,
tbody.internationalshippingmainrows,
div.ShippingService0 a.removesso,
div.InternationalShippingService0 a.removesso {
  display: none;
}

div.ShipToLocation {
  max-width: 500px;
	float: left;
}
div.ShipToLocation div {
  float: left;
}

a.addsso {
  clear: both;
}

div.tabtitle {
  font-size: 1.1em;
  color: #fff;
  background-color: #666;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

td.removeispc {
  vertical-align: top;
  line-height: 29px;
}

td.tab_subtitle {
  font-weight: bold;
}

#help li {
  margin: 10px;
}

#risknotice {
  color: red;
  font-weight: bold;
  border: 1px solid red;
  padding: 3px;
  font-size: 0.9em;
  background-color: yellow;
  max-width: 400px;
  margin-bottom: 20px;
}

label.unchecked {
  color: #cccccc;
  text-decoration: line-through;
}

label:hover {
  text-decoration: underline;
  cursor: pointer;
}

#filteroption {
  margin: 20px 0;
}

td.paymentmethod img {
  margin-right: 5px;
}


/* picture sortable list */
ul.pictures,
ul.variationpictures {
  list-style: none;
  padding: 0;
}

ul.pictures li,
ul.variationpictures li {
  width: 100px;
  height: 120px;
  float: left;
  margin: 5px;
  padding: 5px;
  border: 1px solid #CCC;
  text-align: center;
}

ul.pictures li.template,
ul.variationpictures li.template {
  display: none;
}

ul.pictures div,
ul.variationpictures div {
  display: table-cell;
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

ul.pictures li.sortable-placeholder,
ul.variationpictures li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}

ul.pictures a.deletepicture,
ul.variationpictures a.deletepicture {
  color: #999;
  font-size: 0.8em;
}

ul.pictures img,
ul.variationpictures img {
  max-height: 100px;
  max-width: 100px;
}

ul.features,
ul.notice,
ul.feedback,
ul.blog {
  list-style: none;
  margin: 0;
  padding: 5px;
  width: 470px;
}

ul.features li {
  background-image: url(/icon/03/10/02.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

ul.notice li {
  background-image: url(/icon/01/10/50.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

ul.feedback li {
  background-image: url(/icon/01/10/27.png);
  background-repeat: no-repeat;
  padding-left: 20px;
}

ul.blog li {
  background-image: url(/icon/01/10/22.png);
  background-repeat: no-repeat;
  padding-left: 20px;
  margin-bottom: 10px;
}

ul.blog li p {
  margin-top: 5px;
}

div.buyer-template {
  display: none;
}

div.buyer-information {
  float: left;
  min-width: 200px;
  margin-bottom: 10px;
}

div.buyer-sendmessage {
  float: left;
}

div.buyer-sendmessage button {
  display: block;
}

/* Messages */
div.question-template {
  display: none;
}

div.question-block {
  border: 1px solid #aaa;
  padding: 5px;
  margin-bottom: 5px;
}

ul.question-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.question-ul li {
  float: left;
  margin-right: 10px;
}

li.question-parent {
  display: none;
}

div.question-body {
  background-color: #eaeaea;
  padding: 5px;
}

div.question-block textarea {
  width: 400px;
  height: 100px;
}


/* clearfix */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

#forgotpassworddiv {
  display: none;
  margin-top: 10px;
}

button.disabled {
  color: #aaa;
  background-color: #eee;
}

#ebaylogo img {
  width: 150px;
	margin: 0 0 10px 20px;
}

#syncitemsform input {
  width: 80px;
}

#itemsearchform {
	display: ;
	border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px 5px 5px;
}

#itemsheader td {
  padding: 1px 5px;
}

#headersearchform {
  float: left;
}

#headersearchform select,
#headersearchform button {
  float: left;
	margin: 0;
	border-radius: 0;
  font-family: arial, sans-serif;
  color: #444;
  font-weight: bold;
  font-size: 11px;
}

#headersearchform input {
  border-right: 0px none;
}

#settingsbutton {
  float: right;
  margin: 15px 0 0;
}

#checkall {
  float: left;
}

label[for=checkall] {
  float: left;
  margin: 6px 0 0;
}

#items > thead td {
  white-space: nowrap;
}

#items > thead td:hover {
  text-decoration: underline;
	cursor: pointer;
}

#items > thead span.arrow {
  padding: 3px;
}

#paging {
  float: right;
  padding: 20px 5px 0 0;
}

#hiddenforms {
  display: none;
}
