textarea {
	border: 0px none;
	color: #0000ff;
}

input {
	border: 0px none;
	color: #0000ff;
}

select {
	border: 0px none;
	color: #0000ff;
}

option {
	border: 0px none;
	color: #0000ff;
}

.top {
	border-top: 1px solid #666666;
}

.bottom {
	border-bottom: 1px solid #666666;
}

.left {
	border-left: 1px solid #666666;
}

.right {
	border-right: 1px solid #666666;
}

.topright {
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
}

.topleft {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

.bottom-left-right {
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
