/*---------------------------------------*
 * リンク
 *---------------------------------------*/
a {
	color: #0000ff;
	text-decoration = none;
}
a:hover {
	background-color: #0000ff;
	color: #ffffff;
}


/*---------------------------------------*
 * テーブル
 *---------------------------------------*/
table.list {
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
}

td {
	font-family: Verdana;
	font-size: 12px;
}

td.list {
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-size: 12px;
}

td.title {
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	background-color: #eeeeee;
	font-weight: bold;
	font-size: 12px;
}


/*---------------------------------------*
 * フォーム
 *---------------------------------------*/
textarea {
	border: 1px solid #666666;
}

input {
	border: 1px solid #666666;
}


/*---------------------------------------*
 * サイトマップ
 *---------------------------------------*/
a.sitemap {
	color: #000000;
	text-decoration = none;
}

a.sitemap:hover {
	background-color: #dddddd;
	color: #000000;
}

div.tbl1 {
	visibility:hidden; 
	position:absolute;
	z-index:99;
}

div.addelm {
	visibility:hidden; 
	position:absolute;
	z-index:99;
}
