	<tr>
		<td class="top">
			<b>No.[rowid]</b>
		</td>
		<td class="top">
			<select name="[rowid]_category" onfocus="fenable(this);" onblur="fdisable(this);">
			[category]
			</select>
			<select name="[rowid]_priority" onfocus="fenable(this);" onblur="fdisable(this);">
			[priority]
			</select>
			<select name="[rowid]_status" onfocus="fenable(this);" onblur="fdisable(this);">
			[status]
			</select>
		</td>
		<td class="top">
			<input type="text" name="[rowid]_title" value="[title]"
			onfocus="fenable(this);" onblur="fdisable(this);" size="60">
		</td>
		<td class="top">更新日時 :
			<input type="text" name="[rowid]_mod_date" value="[mod_date]" size="23"
			onfocus="fenable(this);" onblur="fdisable(this);" [disabled]>
		</td>
	</tr>
