html {
	height: 100%;
}

body {
	margin: 0px 0px 0px 0px;
	/* font-family: "Arial","Helvetica",sans-serif; */
	font-family: arial, sans-serif;
	font-size: 10pt;
	height: 100%;
}

div#container {
	margin: 10px;
}

div#toolbar {
	width: 171px;
	float: left;
	overflow: hidden;
}

div#content {
	border: 4px solid #cccccc;
	float:left;
    border-radius:5px;
    -moz-border-radius:5px;
}

a {
	color: #000066;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #000066;
}


table.items {
	margin: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-collapse: collapse;
	/* width: 940px; */
}

table.items tr.row1 {
	border-top: 1px solid #cccccc;
}

table.items tr#filter {
	border-bottom: 1px solid #999999;
}

tr.rowover {
	background-color: #fafafa;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}

tr#filter td {
	padding: 3px 10px 3px 10px;
}

table.items th {
	color: #20201e;
	font-size: 9pt;
	padding: 3px 10px 3px 10px;
	background-color: #eeeeee;
}

table.items th a {
	color: #20201e;
	font-weight: bold;
}

table.items tr.row1 > td {
	font-size: 10pt;
	padding: 2px 10px 2px 10px;
	min-height: 24px;
	white-space: nowrap;
}

table.items tr.row2 > td {
	font-size: 10pt;
	padding: 0px 10px 0px 10px;
}

div.titlewrap {
	min-width: 300px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

div.titlewrap > div.labelwrap {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 11px;
}
div.titlewrap > div.labelwrap > div.label {
	float: right;
	color: #009900;
	background-color: #aaeeaa;
	border: 1px solid #99aa99;
	font-size: 8px;
	border-radius: 3px;
	margin-left: 2px;
	padding: 1px 2px;
}

table.items td.eimo {
	color: white;
	background-color: blue;
}

input, select {
	border: 1px solid #999999;
	font-family: "Arial","Helvetica",sans-serif;
	font-size: 10pt;
}

/*
table.items a {
	text-decoration: none;
	color: #0000ff;
}
*/

/*
table.items a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #0000ff;
}
*/

table.detail {
    border-spacing: 0px;
    border-collapse: collapse;
	margin: 0px;
}

table.detail td {
	padding: 5px;
}

table.detail td:first-child {
	text-align: right;
	font-weight: bold;
	white-space: nowrap;
	vertical-align: top;
}



div.success {
	border: 2px solid #009900;
	background-color: #eeffee;
	padding: 5px;
	margin: 2px;
}

div.notice {
	border: 2px solid #ff0000;
	background-color: #ffeeee;
	padding: 5px;
	margin: 2px;
}

.loading {
	background-image: url(/img/indicator.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

div#loading {
	position: fixed;
	top: 0px;
	margin: 0px auto 0px auto;
	text-align: center;
	background-color: #ffffcc;
	padding: 2px;
	display: none;
}

div#paging {
	margin: 5px;
	height: 20px;
	padding: 5px;
	text-align: center;
	float: right;
}

div#paging a {
	text-decoration: none;
	border: 1px solid #999999;
	margin: 2px;
	padding: 0.1em 0.4em;
}

tbody#rowtemplate {
	display: none;
}

div.detail {
	display: none;
	margin-bottom: 10px;
}

div#editform {
	display: none;
}

iframe.description {
	width: 750px;
	height: 300px;
	border: 1px dotted #999999;
}

div.description {
	margin: 5px;
}

div.description > iframe {
	border: 0px none;
}

div.pictures {
	margin: 5px;
}

img.PictureDetails_PictureURL {
	max-width:  300px;
	max-height: 300px;
}

ul.accounts {
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	list-style-type: none;
}

ul.accounts li {
	margin: 0px;
	padding: 1px 0px 1px 5px;
}

ul.accounts > li.allitems {
	margin: 0px;
	padding: 2px 0px 2px 5px;
}

a.accountaction {
	font-size: 8pt;
}

ul.accountaction {
	display: none;
	/* position: absolute; */
	list-style-type: none;
	padding: 0px 0px 0px 0px;
}

.tabselected {
	background-color: #cccccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

td.price {
	text-align: right;
}

td.EndTime {
	text-align: right;
	white-space: nowrap;
}

span.more {
	font-size: 9px;
}



ul.editbuttons {
	float: left;
	list-style: none;
	margin: 5px 0px 0px 10px;
	padding: 0px;
}

ul.editbuttons li {
	float: left;
	margin-right: 5px;
	padding: 3px 5px 3px 5px;
	font-weight: bold;
}

/* item detail tab navigation */
ul.tabNav {
	float: left;
	list-style: none;
	margin: 5px 0px 0px 10px;
	padding: 0px;
}

ul.tabNav li {
	float: left;
	margin-right: 5px;
	background: #fafafa;
	padding: 3px 5px 3px 5px;
	border: 1px solid #eeeeee;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul.tabNav li.current {
	background-color: #dddddd;
	border: 1px solid #999999;
}

div.tabContainer {
	clear: both;
	float: left;
	margin-bottom: 10px;
	margin-top: -1px;
	border: 1px solid #999999;
	padding: 5px;
    border-radius:5px;
}

div.tabContainer div.tab {
	display: none;
}

div.tabContainer div.current {
	display: block;
}

img.PictureDetails_PictureURL {
	max-width: 100px;
	max-height: 100px;
}

div.picdiv {
	width: 100px;
	height: 100px;
	border: 1px dotted #999999;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

span.error {
	background: url('/icon/01/10/50.png') no-repeat left center;
	color: red;
	font-size: 8pt;
	padding-left: 15px;
	font-weight: bold;
}

span.active {
	color: green;
}

div.ShippingPackage {
	float: left;
}

div.Dimensions {
	float: left;
}

/* styles for debug */
div#hiddenblocks {
	margin: 10px 10px 0 0;
	background-color: #ffffdd;
	border: 1px solid #999966;
    border-radius:5px;
}

div#debug {
	margin-top: 10px;
	background-color: #ffffcc;
	padding: 5px;
	border: 2px solid #cccc99;
    border-radius:5px;
}

iframe[name=posttarget] {
	width: 161px;
	height: 50px;
	margin: 10px 10px 0 0;
	background-color: #ffffdd;
	border: 1px solid #999966;
    border-radius:5px;
}

div#debugseparator {
	margin: 30px 10px 10px 0;
	border-bottom: 2px dotted #999999;
}

table#hiddenforms td:first-child {
	text-align: right;
	font-weight: bold;
}
table#hiddenforms input {
	border: 0px none;
	padding: 0px;
}
